h1{
    color: blueviolet;
}
h2{
    color:cornflowerblue;
}
html{
    background-color: cornsilk;
}
#imageOne{
    width: 500px;
    height: 250px;
}
#imageTwo{
    width: 500px;
    height: 250px;
}
table{
    border: 2px black solid;
}
td{
    border: 2px black solid;
}